<html>
<head>
<style>
 tr , th>div {
     margin: 10px;
     
     
 }   

</style>

</head>
<body>
<h1>OUR PORTFOLIO</h1>

<!-- <div *ngFor="let temp of mydata">{{temp.name}}</div>
<div *ngFor="let temp of mydata">{{temp.age}}</div>
<div *ngFor="let temp of mydata">{{temp.married}}</div>
<div *ngFor="let temp of mydata">{{temp.salary}}</div>
<div *ngFor="let temp of mydata">{{temp.city}}</div> -->

<table style="width: 60%; border:1px solid black">
   <tr>
      <th><div *ngFor="let temp of mydata">{{temp.name}}</div> </th>
      <th><div *ngFor="let temp of mydata">{{temp.mob}}</div></th>
      <th><div *ngFor="let temp of mydata">{{temp.married}}</div></th>
      <th><div *ngFor="let temp of mydata">{{temp.salary}}</div></th>
      <th><div *ngFor="let temp of mydata">{{temp.city}}</div> </th>


   </tr>


</table>
</body>
</html>